<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Vision")}</%block>

<section class="static-container about">
	<h1>${_("About iCollege")}</h1>

	<p>iCollege helps colleges deliver a world-class online and blended learning experience to their learners, and this impacts your learner results.</p>
	<p>
		Here's how iCollege can help you innovate your learning delivery.
		</p>
	<ul>
		<li>A modern, attractive learning system your students will really use.</li>
		<li>iPhone and Android apps as standard.</li>
		<li>Easy course authoring, with rich and interactive learner activities.</li>
		<li>Network of shared course media, for efficient course creation.</li>
		<li>CPD for teachers, to improve and embed blended learning practice.</li>
		<li>Learning analytics via APIs and dashboards, for quality improvement.</li>
	</ul>
	<p>iCollege is developed by experienced educators from the further education and work-based learning sector.</p>
	<p>We are passionate about using education technology to help learners achieve and prosper. If you share our passion, please get in touch!</p>

</section>
